@import-normalize;
/* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-overlay {
  background: rgba(73, 12, 12, 0.38);
}

.popup-content {
  background: #FFFFFF;
  border-radius: 40px;
  width: 681px;
  padding: 40px;
}

.inp {
  position: relative;
  margin: auto;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
}

.label {
  left: 12px;
  font-size: 16px;
  color: #7D7C7D;
  font-weight: 500;
  pointer-events: none;
}

.descriptionInput {
  height: 300px;
}

.RichEditor-root {
  background: #7D7C7D;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}