@import-normalize;

@font-face {
  font-family: "JetBrains Mono";
  src: local("JetBrains Mono"),
    url("./fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: regular;
}

body {
  margin: 0;
  font-family: 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 38px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-overlay {
  background: rgba(73, 12, 12, 0.38);
}

.popup-content {
  background: #FFFFFF;
  border-radius: 10px;
  width: max-content;
  max-height: 700px;
  overflow: scroll;
  min-width: 180px;
}

.RichEditor-root {
  background: #7D7C7D;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
}